body{
    background: url(https://wallpapercave.com/wp/BMrmUGk.jpg) no-repeat top center;
    width:100%;
    height: 100%;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;   
}
.wrapper{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.Contact-Form{
    width: 150%;
    max-width: 400;
    height: 20%;
    padding: 10px 20px;
    border-radius: 5px;
}
.title{
    font-size: 20px;
    line-height: 1.25em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    color:#ffecb3;
    padding-bottom: 15px;
}

.input-fields{
    padding: 0 30px;
}
.input-fields .items{
    width: 100%;
    padding-bottom: 15px;
}
.input-fields .items .label{
    display: block;
    font-size: 1em;
    color: bisque;
    text-transform: capitalize;
    padding-bottom: 5px;
}

.input-fields .items .input,
.input-fields .items .text-area{
    background: transparent;
    border: 0;
    border: 1px solid #ffecb3;
    width: 80%;
    padding: 8px 10px;
    font-size: 1em;
    color: #ffecb3;
    border-radius: 3px;
}

.btn{
    text-align: center;
}

.items #Msg{
    height: 100px;
}